<% content_for :header do %>
    <style>
      body{
        background-image: url('/night.jpg');
        background-repeat: repeat-y;
        background-position: top center;
      }
    </style>
<% end %>
<section class="welcome container center">
  <h1>Welcome To Fuitter</h1>
  <p>
    Establish your business on the world wide web <br/>
    with the help of Fuitter<br/>
  </p>
  <% unless session[:user_id] %>
    <%= link_to signin_path do %>
      <button class="button  getting-started">Login with Facebook</button>
    <% end %>
  <% end %>

  <div class="clearfix"></div>
</section>
<div class="clearfix"></div>
<section class=" container">
  <p class="left privacy-terms white-text">
    <%= link_to("Privacy Policy", page_path('privacy') , class: 'white-text') %> |
    <%= link_to("Terms of Use", page_path('terms') , class: 'white-text') %>
  </p>
  <ul class="right social-icons">
    <li class="facebook">
      <%= link_to "https://www.facebook.com/fuitter", :target => "_blank" do %>
        <i class="fa fa-facebook "></i>
      <% end %>
    </li>
  </ul>
</section>
