<% content_for :title do %>Templates<% end %>
<section class="in-touch container">

    <h1>Choose Your Templates</h1>

    <div class="row">
        <ul class="tabs">
            <li class="tab col s2"><a class="active" href="#test1">Featured</a></li>
            <li class="tab col s2"><a href="#test2">Business</a></li>
            <li class="tab col s2"><a href="#test3">Portfolio</a></li>
            <li class="tab col s2"><a href="#test4">Stories</a></li>
        </ul>
    </div>
    <div class="templates">
        <div id="test1" class="row template">
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template111.jpg">
                        <span class="card-title">Great App</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <%= link_to client_template_preview_path(page_id: params[:page_id], template_name: 'design1') do %>
                            <button class="view-button">Preview <i class="fa fa-eye"></i></button>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template112.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template113.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template121.jpg">
                        <span class="card-title">Merry Christmas</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template122.jpg">
                        <span class="card-title">Coffee</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template123.jpg">
                        <span class="card-title">War Craft</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="test2" class="row">
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template121.jpg">
                        <span class="card-title">Merry Christmas</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template122.jpg">
                        <span class="card-title">Coffee</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template123.jpg">
                        <span class="card-title">War Craft</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template111.jpg">
                        <span class="card-title">Great App</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template112.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template113.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="test3" class="row">
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template111.jpg">
                        <span class="card-title">Great App</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template112.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template113.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template121.jpg">
                        <span class="card-title">Merry Christmas</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template122.jpg">
                        <span class="card-title">Coffee</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template123.jpg">
                        <span class="card-title">War Craft</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="test4" class="row">
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template121.jpg">
                        <span class="card-title">Merry Christmas</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template122.jpg">
                        <span class="card-title">Coffee</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template123.jpg">
                        <span class="card-title">War Craft</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template111.jpg">
                        <span class="card-title">Great App</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template112.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
            <div class="col s12 l4 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/templates/template113.jpg">
                        <span class="card-title">Educaton Portal</span>
                    </div>
                    <div class="card-content">
                        <p>This is the great app It is fully responsive and Professional Design can be found here </p>
                    </div>
                    <div class="card-action">
                        <a href="#"><button class="view-button">View Template <i class="fa fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
