<% content_for :title do %>Privacy Policy<% end %>
 <section class="in-touch container">
        <h1><%= yield(:title) %></h1>
        <p class="center"></p>
    </section>

    <section class="privacy">
        <div class="container">
            <div class="privacy-item">
                <h3>Information we collect</h3>
                <p>Fuitter collects public information like name , profile picture and pages from users who use and sign up to the Service. The Site also use google analytics and cookies to recognize visitors to http://fuitter.com for us to analyze general user traffic patterns. (See IP address below for more info)</p>
            </div>
            <div class="privacy-item">
                <h3>Billing information</h3>
                <p>When paying for the site that you created through fuitter, we require your billing information on accounts of processing the transaction. For identifying the card in the future as the future references, we will retain the last 4 digits of your credit card number and credit card type. We strictly do not store any billing information. The information gets immediately discarded once the transaction is processed and accepted. Your subscription’s default setup will be auto-renewing, as a result a recurring subscription.</p>
            </div>
            <div class="privacy-item">
                <h3>IP address</h3>
                <p>Fuitter sometimes acquires IP addresses from users depending upon how you access our web sites. IP addresses, browser and session information may be used for various purposes, including to:<br>
Diagnose and prevent service or technology problems reported by our users or engineers that are associated with the IP addresses controlled by a specific web company or ISP.<br>
Estimate the total number of users visiting Fuitter's web sites from specific geographical regions.<br>
Help determine which users have access privileges to certain content, services or resources that we offer.<br>
Monitor and prevent fraud and abuse. </p>
            </div>

            <div class="privacy-item">
                <h3>Changes to this privacy policy</h3>
                <p>In case of modification and revision in the policy, Fuitter notifies you about major changes by sending a notice to the primary email address mentioned in your particular Fuitter account or by placing a discernible notice on our site before the change comes into effectiveness.</p>
            </div>

            <div class="privacy-item">
                <h3>Add-ons</h3>
                <p>Our Web site includes add-ons that may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the Feature to function properly. These add-ons are either hosted by a third party or hosted directly on our Site. Your interactions with these Features are governed by the privacy policy of the company providing it.</p>
            </div>
            <div class="privacy-item">
                <h3>Changes To this Privacy Policy</h3>
                <p>molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                    culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                    quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                    voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
                    debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudianda</p>
            </div>
            <div class="privacy-item">
                <h3>Contacting Fuitter</h3>
                <p>
                    In case of queries concerning the privacy concern and the policy regarding fuitter, you should contact to us by email at support@fuitter.com.<a href="contact.html">conactus</a> <%= link_to("Contact Us", page_path('contact')) %></p>
            </div>
        </div>


    </section>
