<% content_for :title do %>Privacy Policy<% end %>
 <section class="in-touch container">
        <h1><%= yield(:title) %></h1>
        <p class="center"></p>
    </section>

    <section class="privacy">
        <div class="container">
            <p>Last Updated : <span class="privacy-time">14 Nov, 2015</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                make a type specimen book. </p>
            <div class="privacy-item">
                <h3>Information Collection And Use</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of
                    a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as
                    opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
            <div class="privacy-item">
                <h3>Log Data</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, </p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
                    a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="privacy-item">
                <h3>Communications</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                    vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, </p>
            </div>

            <div class="privacy-item">
                <h3>Cookies</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain was born and I will give you a complete account of the system, and expound the actual
                    teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                <p>that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself
                    , because it is pain, but because occasionally circumstances occur in </p>
            </div>

            <div class="privacy-item">
                <h3>Security</h3>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                    and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                    the pain and trouble that are bound to ensue;
                    and equal blame belongs to those who fail in their duty through weakness of will,</p>
            </div>
            <div class="privacy-item">
                <h3>Changes To this Privacy Policy</h3>
                <p>molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                    culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                    quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                    voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
                    debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudianda</p>
            </div>
            <div class="privacy-item">
                <h3>Contact Us</h3>
                <p>
                    eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                    voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
                    debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudianda <a href="contact.html">conactus</a> </p>
            </div>
        </div>


    </section>
