<div class="container">
  <div class="row">
    <div class="col l6 m6 s6">
        <ul id="slide-out" class="side-nav">
          <%= render 'layouts/navigation_links' %>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <%= image_tag("fuitter_logo.png", class: "responsive-img") %>
        </a>
    </div>
  </div>
</div>
