<%# add navigation links to this file %>
<li><img src="/images/globe.png" height="40px" width="40px" /></li>
<li> <%= link_to("Home", root_path) %> </li>
<li> <%= link_to("Templates", page_path('templates')) %> </li>
<li> <%= link_to("Contact Us", page_path('contact')) %></li>

