<%# add navigation links to this file %>
<li><%= image_tag("nav_logo.png", class: "responsive-img") %></li>
<li> <%= link_to("Home", root_path) %> </li>
<li> <%= link_to("Templates", page_path('templates')) %> </li>
<li> <%= link_to("Contact Us", page_path('contact')) %></li>

